@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Inter:wght@400;500&display=swap');


/* default styling */

*{
    margin: 0 ;
    padding:  0;

    box-sizing: border-box;
}
body{
    background: #F3F3F3;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.underline{
    background: #181717;
    height: 3px; 
    margin-top: 108px;
}
.last-underline-margin{
    margin-bottom: 190px;
}

.img-responsive{
    width: 100%;
    height: auto;
}
.img-border{
    border-radius: 6px;
}
/* default styling ends */



/* navbar styling */
.navbar{
    margin-top: 100px;
    margin-bottom: 220px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    padding-top: 12px;
    padding-bottom: 2px;
}
.nav-logo > a{
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 25px;
    color: #181717;
    cursor: pointer;
}
.nav-links ul {
    display: flex;
    gap: 30px;
}
.nav-links ul li{
    list-style-type: none;
}
.nav-links ul li > a{
    font-size: 21px;
    color: #181717;
    text-decoration: none;
    line-height: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}



/* hover styling */
.nav-logo > a:hover{
    color: #2429AF;
}
.nav-links ul li > a:hover{
    color: #2429AF;
}
.footer-contents-2 ul li > a:hover{
    color: #2429AF;
}
.sub-heading > a:hover{
    color: #2429AF;
}



/* header styling */
.header{
    margin-bottom: 114px;
}
.header-contents{
    display: flex;
    width: 100%;
    gap: 116;
}
.header-contents-1{
    font-family: "DM Sans", sans-serif;
    max-width: 48ch;
}
.header-contents-1 > h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 58px;
    color: #181717;
}
.dwn-arrow{
    margin-top: 116px;
}
.header-contents-2{
    margin-top: 64px;
    font-family: "DM Sans", sans-serif;
    max-width: 58ch;
}
.header-contents-2 > p{
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    color: #606060;
}

/* section styling */

.section-div-1,
.section-div-2, 
.section-div-3{
    width: 100%;
    display: flex;
    gap: 124px;
    margin-top: 114px;
}

.section-left{
    width: 40%;
}


.heading{
    font-family: "Inter", sans-serif;
    color: #181717;
    margin-bottom: 25px;
}
.heading h2, h3, h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.heading-text{
    font-family: "Inter", sans-serif;
    color: #181717;
    max-width: 40ch;
}
.heading-margin-1{
    margin-bottom: 160px;
}
.heading-margin-2{
    margin-bottom: 252px;
}
.heading-margin-3{
    margin-bottom: 276px;

}


.heading-text > p:first-child{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 50px;
    color: #181717 ;
}
.heading-text-last-child{
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.sub-heading{
    font-family: Inter;
}
.sub-heading > a{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: #181717;
    position: relative;
    transition: all 0.5s ease;
}
.sub-heading > a::before{
    content: "";
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
}

.color > a{ 
    color: #606060; 
}
.color > a{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: #606060;
    position: relative;
}
.color > a::before{
    content: "";
    background:#606060;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
}

.section-right{
    width: 60%;
}


/* footer styling */

.footer-contents{
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}
.footer-contents-1 > a {
    font-family: "DM Sans", sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: #2429AF;
}
.footer-contents-2 ul {
    display: flex;
    gap: 32px;
}
.footer-contents-2 ul li{
    list-style-type: none;
}
.footer-contents-2 ul li a {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    color: #181717;
    transition: all 0.5s ease;
}


@media screen and (max-width: 480px ){ 

    .nav-links{
        display: none;
    }
    .container{
        max-width: 380px;
        margin: 0 auto;
    }

    .header-contents{
        display: flex;
        flex-direction: column;
    }
    .section-div-1,
    .section-div-2, 
    .section-div-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px ;
    }
    .section-right{
        width: 100%;
    }
    .section-left{
        text-align: center;
        width: 100%;
    }
    .heading-margin-1{
        margin-bottom: 50px;
    }
    .heading-margin-2{
        margin-bottom: 50px;
    }
    .heading-margin-3{
        margin-bottom: 50px;
    
    }
    .underline{
        margin-top: 54px;
    }
    .last-underline-margin{
        margin-bottom: 60px;
    }
    .footer-contents{
        line-height: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    .footer-contents-1{
        text-align: center;
    }
    .footer-contents-2 ul{
        text-align: center;
        gap: 30px;
        display: flex;
        justify-content: center;
    }
    .heading-text > p:first-child{
        line-height: 24px;
    }
    .heading-text-last-child{
        line-height: 24px;
    }
    .header-contents-2{
        margin-top: 50px;
        max-width: 36ch;
    }
    .header-contents-2 > p{
        font-size: 20px;
        line-height: 30px;   
    }
    .header {
        margin-bottom: 0;
    }
    .dwn-arrow {
        margin-top: 50px;
    }
    .heading-text-last-child {
        font-size: 15px;
    }
    .navbar {
        margin-top: 50px;
        margin-bottom: 110px;
    }
}